* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  position: relative;
}

:root {
  --header-grey: #3c3a39;
  --custom-orange: #ff6b00;
  --hover-orange: #fff5e1;
  --font-white: #fff5e1;
  --font-two: #f4f5f7;
  --form-header: #172b4d;
  --white: #fff;
  --portfolio-black: #1c1a19;
  --navy-blue: #091e42;
  --li-grey: #8993a4;
  --menu-grey: #3c3a39;
}

nav {
  background-color: var(--header-grey);
  color: var(--font-white);
  padding: 0.75rem;
  font-family: 'Roboto', 'Times New Roman', Times, serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

nav h2 {
  font-size: 1.125rem;
}

nav a {
  text-decoration: none;
  color: inherit;
}

header {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-menu {
  height: auto;
  width: auto;
  display: flex;
  margin-right: 1rem;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
  z-index: 10;
}

.bar {
  width: 1.625rem;
  height: 0.25rem;
  background-color: var(--font-white);
  transition: all 0.5s ease;
  border-radius: 2px;
  z-index: 11;
}

.burger-menu.active .bar:nth-child(2) {
  opacity: 0;
}

.burger-menu.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.burger-menu.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.mobile-nav {
  list-style: none;
  position: fixed;
  left: -100%;
  width: 100%;
  height: 100%;
  padding: 4rem 1.75rem;
  gap: 2rem;
  color: var(--white);
  font-size: 2rem;
  font-family: 'Inter', 'Times New Roman', Times, serif;
  font-weight: 700;
  background-color: var(--menu-grey);
  display: flex;
  flex-direction: column;
  text-align: left;
  transition: 0.8s ease;
  line-height: 2.75rem;
  top: 0;
}

.nav-link {
  border-bottom: 1px solid var(--li-grey);
  padding-bottom: 0.25rem;
}

.mobile-nav.active {
  left: 0;
}

form button {
  border: none;
  font-size: 1rem;
  color: var(--white);
  padding: 0.95rem;
  width: 10rem;
  font-weight: 600;
  line-height: 1.5rem;
  font-family: 'Inter', 'Times New Roman', Times, serif;
  background-color: var(--custom-orange);
  margin: 0 auto;
}

footer ul {
  list-style: none;
  display: flex;
  width: 12.5rem;
  justify-content: space-evenly;
  align-items: center;
}

button:active {
  background-color: var(--hover-orange);
  color: var(--font-white);
  border: solid 2px var(--custom-orange);
}

.yoga-post button {
  border: none;
  font-size: 1rem;
  color: var(--white);
  padding: 0.75rem;
  width: 7.75rem;
  font-weight: 600;
  line-height: 1.5rem;
  font-family: 'Inter', 'Times New Roman', Times, serif;
  background-color: var(--custom-orange);
}

.intro button {
  border: none;
  font-size: 1rem;
  color: var(--white);
  padding: 0.95rem;
  width: 10rem;
  font-weight: 600;
  line-height: 1.5rem;
  font-family: 'Inter', 'Times New Roman', Times, serif;
  background-color: var(--custom-orange);
}

.cards button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20.375rem;
  border: none;
  background-color: var(--custom-orange);
  font-weight: 700;
  color: var(--white);
  font-size: 1.125rem;
  font-family: 'Inter', 'Times New Roman', Times, serif;
  padding: 0.75rem;
}

.headline {
  background-color: var(--portfolio-black);
  width: 100%;
  padding: 8rem 1rem;
  background-image: url(../images/Illustrationheadline-bgi-mobile.png);
  background-repeat: no-repeat;
  background-position: 100% 120%;
}

.headline h1 {
  color: var(--custom-orange);
  font-size: 3.5rem;
  font-family: 'Crete Round', 'Times New Roman', Times, serif;
  font-weight: 400;
  line-height: 4rem;
  margin-bottom: 1rem;
  width: 20.38rem;
}

main h2 {
  font-size: 2.5rem;
  font-family: 'Crete Round', 'Times New Roman', Times, serif;
  color: var(--portfolio-black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
  gap: 3rem;
  width: 21rem;
}

.headline h2 {
  color: var(--font-white);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  font-family: 'Roboto', 'Times New Roman', Times, serif;
  margin-bottom: 1rem;
  width: 20.38rem;
}

.headline p {
  color: var(--white);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  width: 20.1rem;
  margin-bottom: 1rem;
}

.headline ul {
  list-style: none;
  display: flex;
  width: 12.5rem;
  justify-content: space-evenly;
  align-items: center;
}

button:hover {
  cursor: pointer;
}

main {
  padding: 5rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-line-1 {
  display: block;
}

.desktop-works-line {
  display: none;
}

.yoga-two {
  display: none;
}

.yoga-post {
  margin-top: -2rem;
  padding: 1rem;
  margin-bottom: 1.25rem;
}

.desktop-nav {
  display: none;
}

form button:hover {
  background-color: var(--hover-orange);
  border: 1px solid var(--custom-orange);
  color: var(--custom-orange);
  font-weight: 700;
}

.modalTitle-line-1 {
  display: none;
}

.yoga-post h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: 'Crete Round', 'Times New Roman', Times, serif;
  color: var(--navy-blue);
  font-weight: 400;
  font-size: 2rem;
}

.yoga-post p {
  font-family: 'Inter', 'Times New Roman', Times, serif;
  color: var(--navy-blue);
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.25rem;
}

.yoga-post ul {
  list-style: none;
  display: flex;
  width: 19.75rem;
  gap: 0.95rem;
  font-family: 'Inter', 'Times New Roman', Times, serif;
  font-weight: 500;
  margin-bottom: 1.25rem;
}

.yoga-post li {
  padding: 0.5rem;
  border: 1px solid var(--li-grey);
}

.yoga-post button:hover {
  background-color: var(--hover-orange);
  border: 1px solid var(--custom-orange);
  color: var(--custom-orange);
  font-weight: 700;
}

.project-cards {
  width: 100%;
  padding: 1.25rem;
  display: grid;
  justify-content: center;
  gap: 1rem;
}

.cards {
  width: 20.375rem;
  padding: 3.25rem 0.75rem;
  background-image: url(../images/Imgcards.png);
  background-repeat: no-repeat;
  position: relative;
}

.cards h4 {
  font-size: 2rem;
  font-family: 'Crete Round', 'Times New Roman', Times, serif;
  margin-bottom: 1rem;
  color: var(--white);
  font-weight: 400;
  line-height: 2.75rem;
}

.cards span {
  display: none;
}

.cards p {
  font-family: 'Inter', 'Times New Roman', Times, serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--white);
  margin-bottom: 0.5rem;
}

.cards ul {
  display: flex;
  width: 15.625rem;
  gap: 0.75rem;
  margin-bottom: 1rem;
  list-style: none;
  font-family: 'Inter', 'Times New Roman', Times, serif;
  line-height: 1.25rem;
}

.cards li {
  padding: 0.65rem;
  color: var(--font-white);
  background: rgba(255, 255, 255, 0.24);
}

.cards button:hover {
  background-color: var(--hover-orange);
  border: 1px solid var(--custom-orange);
  color: var(--custom-orange);
  font-weight: 700;
}

.modalTitle-line-1 {
  display: none;
}

.modal-img-two {
  display: none;
}

.modal-header span {
  display: none;
}

.modal-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0.25rem;
  margin-bottom: 1.25rem;
}

.modal-header ul {
  display: flex;
  list-style: none;
  width: 18rem;
  gap: 0.75rem;
}

.modal-header li {
  border: solid 1px var(--portfolio-black);
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
}

.modal-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.modal-title h2 {
  font-family: 'Roboto', 'Times New Roman', Times, serif;
  font-size: 2rem;
  color: var(--navy-blue);
}

.modal-title h4 {
  font-size: 2rem;
  color: var(--menu-grey);
  font-weight: 400;
}

.modal-img-one {
  margin-bottom: 1rem;
}

.about-me {
  width: 100%;
  padding: 7rem 0 4rem 0;
  background-color: var(--portfolio-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/illustration-about-me-mobile.png);
  background-repeat: no-repeat;
  background-position: 100% 25%;
}

.intro {
  width: 100%;
  padding: 1rem 1rem 12rem 1rem;
  margin-bottom: 0.65rem;
  margin-left: 1rem;
}

.intro h2 {
  color: var(--custom-orange);
  font-size: 4.5rem;
  font-family: 'Crete Round', 'Times New Roman', Times, serif;
  font-weight: 400;
  line-height: 4rem;
  margin-bottom: 1rem;
  width: 20.38rem;
  text-align: left;
}

.intro p {
  font-family: 'Inter', 'Times New Roman', Times, serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--font-two);
  font-weight: 400;
  margin-bottom: 1.5rem;
  width: 20.38rem;
}

.intro button:hover {
  background-color: var(--hover-orange);
  border: 1px solid var(--custom-orange);
  color: var(--custom-orange);
  font-weight: 700;
}

.skills {
  margin-top: 4rem;
  width: 100%;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-1 {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.language {
  display: flex;
  width: 100%;
  gap: 0.5rem;
  list-style: none;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: 'Inter', 'Times New Roman', Times, serif;
  font-weight: 700;
  color: var(--font-white);
  margin-bottom: 1.5rem;
}

.lang-skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  color: var(--font-white);
  font-family: 'Inter', 'Times New Roman', Times, serif;
  font-size: 1.45rem;
  align-items: center;
  gap: 1.5rem;
  font-weight: 400;
}

.frameworks {
  display: flex;
  width: 100%;
  gap: 1.5rem;
  list-style: none;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: 'Inter', 'Times New Roman', Times, serif;
  font-weight: 700;
  color: var(--font-white);
  margin-bottom: 1.5rem;
}

.form-container {
  width: 100%;
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}

.form-container p {
  font-family: 'Inter', 'Times New Roman', Times, serif;
  width: 100%;
  color: var(--navy-blue);
  font-size: 2rem;
  font-weight: 800;
  line-height: 2.75rem;
  text-align: center;
  margin-bottom: 2.5rem;
}

.form-intro {
  text-align: center;
  padding: 0 1rem 1rem 1rem;
}

form {
  width: 20.5rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

input[type='text'] {
  padding: 1rem;
  border-bottom: solid 1px var(--li-grey);
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

input[type='email'] {
  padding: 1rem;
  border-bottom: solid 1px var(--li-grey);
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

form textarea {
  width: 100%;
  height: 7.25rem;
  font-family: 'Inter', 'Times New Roman', Times, serif;
  font-weight: 400;
  line-height: 1.5rem;
  font-size: 1rem;
  border: none;
  padding: 12px;
  background-color: #fbf8f7;
}

form textarea::placeholder {
  font-style: italic;
  color: var(--portfolio-black);
  font-weight: 700;
  font-size: 1rem;
}

#error-text {
  display: none;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 1rem 4rem 1rem;
  position: relative;
  border-top: 1px solid var(--li-grey);
}

.footer-img {
  position: absolute;
  bottom: 0;
}
