* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  position: relative;
}

:root {
  --header-grey: #3c3a39;
  --custom-orange: #ff6b00;
  --hover-orange: #fff5e1;
  --font-white: #fff5e1;
  --font-two: #f4f5f7;
  --form-header: #172b4d;
  --white: #fff;
  --portfolio-black: #1c1a19;
  --navy-blue: #091e42;
  --li-grey: #8993a4;
  --menu-grey: #3c3a39;
}

nav {
  background-color: var(--header-grey);
  color: var(--font-white);
  padding: 0.75rem;
  font-family: "Roboto", 'Times New Roman', Times, serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

nav h2 {
  font-size: 1.125rem;
}

nav a {
  text-decoration: none;
  color: inherit;
}

header {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-menu {
  height: auto;
  width: auto;
  display: flex;
  margin-right: 1rem;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
  z-index: 10;
}

.bar {
  width: 1.625rem;
  height: 0.25rem;
  background-color: var(--font-white);
  transition: all 0.5s ease;
  border-radius: 2px;
  z-index: 11;
}

.headline {
  background-color: var(--portfolio-black);
  width: 100%;
  padding: 8rem 1rem;
  background-image: url(/images/Illustrationheadline-bgi-mobile.png);
  background-repeat: no-repeat;
  background-position: 100% 120%;
}

.headline h1 {
  color: var(--custom-orange);
  font-size: 3.5rem;
  font-family: "Crete Round", 'Times New Roman', Times, serif;
  font-weight: 400;
  line-height: 4rem;
  margin-bottom: 1rem;
  width: 20.38rem;
}

.headline h2 {
  color: var(--font-white);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  font-family: "Roboto", 'Times New Roman', Times, serif;
  margin-bottom: 1rem;
  width: 20.38rem;
}

.headline p {
  color: var(--white);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  font-family: "Poppins", 'Times New Roman', Times, serif;
  width: 20.1rem;
  margin-bottom: 1rem;
}

.headline ul {
  list-style: none;
  display: flex;
  width: 12.5rem;
  justify-content: space-evenly;
  align-items: center;
}

button:hover {
  cursor: pointer;
}

main {
  padding: 5rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main h2 {
  font-size: 2.5rem;
  font-family: 'Crete Round', 'Times New Roman', Times, serif;
  color: var(--portfolio-black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem 1rem 0rem;
  gap: 3rem;
  width: 21rem;
}

.title-line-1 {
  display: block;
}

.yoga-post {
  margin-top: -2rem;
  padding: 1rem;
  margin-bottom: 1.25rem;
}

.desktop-works-line {
  display: none;
}

.modalTitle-line-1 {
  display: none;
}

.yoga-two {
  display: none;
}

.yoga-post h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Crete Round", 'Times New Roman', Times, serif;
  color: var(--navy-blue);
  font-weight: 400;
  font-size: 2rem;
}

.yoga-post p {
  font-family: "Inter", 'Times New Roman', Times, serif;
  color: var(--navy-blue);
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.25rem;
}

.yoga-post ul {
  list-style: none;
  display: flex;
  width: 19.75rem;
  gap: 0.95rem;
  font-family: "Inter", 'Times New Roman', Times, serif;
  font-weight: 500;
  margin-bottom: 1.25rem;
}

.yoga-post li {
  padding: 0.5rem;
  border: 1px solid var(--li-grey);
}

.yoga-post button {
  border: none;
  font-size: 1rem;
  color: var(--white);
  padding: 0.75rem;
  width: 7.75rem;
  font-weight: 600;
  line-height: 1.5rem;
  font-family: "Inter", 'Times New Roman', Times, serif;
  background-color: var(--custom-orange);
}

.yoga-post button:hover {
  background-color: var(--hover-orange);
  border: 1px solid var(--custom-orange);
  color: var(--custom-orange);
  font-weight: 700;
}
